@model AmiamStore.Models.LoginModel
@{
    ViewBag.Title = "LoginPage";
    Layout = "~/Views/Share/MasterPage.cshtml";
}
<link href="~/Styles/Login.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/feb67790c5.js" crossorigin="anonymous"></script>
<div class="mainDiv">
    <main class="mainLogin">
        <div class="login-box">
            <h1>Login</h1>
            @using (Html.BeginForm("LoginPage", "Login"))
            {
                <div class="textbox">
                    <i class="fas fa-user"></i>
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "UserName" })
                    @Html.ValidationMessageFor(m=>m.UserName)
                </div>
                <div class="textbox">
                    <i class="fas fa-lock"></i>
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                if (Model != null && !string.IsNullOrEmpty(Model.Message))
                {
                    <div>
                        @Model.Message
                    </div>
                }

                <input type="submit" value="LogIn" class="btn" />
            }

        </div>
    </main>
</div>
<div class="lineMasterLogin">
    <span>
        <img class="ImageLogin" src="~/Images/footer-logoWhite.png" />
    </span>

</div>