@model AmiamStore.Models.ProductsPageModel
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Share/MasterPage.cshtml";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="~/Styles/style.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Styles/HomePage.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/feb67790c5.js" crossorigin="anonymous"></script>
<div class="slider-block">
    <div id="slider" class="slider">
        <div class="slider-item active" style="background-image:url('../../Images/SliderPhotoFirst.jpg')">
            <form method="get" action="../Login/LoginPage">
                <button class="buttonLogin" type="submit">כניסה </button>
            </form>
        </div>
        <div class="slider-item" style="background-image:url('../../Images/BackGroundImage2.png')">
            <div class="slider-Image">
                <img class="SliderImg" src="~/Images/SliderImage2.png" />
            </div>
            <h1 class="slider-text slider-text-h1First">
                !מנהל רכש? הגעת למקום הנכון
            </h1>
            <h1 class="slider-text slider-text-h1Second">
                כל מה שצריך להגנה על עובדיך
            </h1>
            <h1 class="slider-text slider-text-h1Third">
                הלבשה, הנעלה - מוצרי מגן ומתכלים
            </h1>
            <form method="get" action="../Register/Register">
                <button class="buttonRegister" type="submit">הירשם לאתר עכשו</button>
            </form>
        </div>
        <div class="slider-item" style="background-image: url('../../Images/BackGroundImage2.png')">
            @*<form method="get" action="../Register/Register">
                    <button class="ContactButton" type="submit">צור קשר עכשו</button>
                </form>*@
            <span>
                <img class="BoxesImage" src="~/Images/Amiam_Slide_Boxes.png" />
            </span>
            <span>
                <img class="truckImage" src="~/Images/Amiam_Slide_Truck.png" />
            </span>
            <h1 class="sliderTextImage3Header1">
                !לא משנה איפה אתם ומה הזמנתם - אנו מגיעים אליכם
            </h1>
            <h1 class="sliderTextImage3Header2">
                משלוחים לכל חלקי הארץ
            </h1>
        </div>
        <div class="slider-item" style="background-image: url('../../Images/BackGroundImage2.png')">
            <span>
                <img class="GloveImg" src="~/Images/slide4GloveImage.png" />
            </span>
            <span>
                <img class="BlanstonImg" src="~/Images/slide4BlanstonImage.png" />
            </span>
            <span>
                <img class="ShoeImg" src="~/Images/Slide4ShoeImage.png" />
            </span>
            <h1 class="slide4head1">
                על איכות ומקצועיות לא מתפשרים
            </h1>
            <h1 class="slide4head2">
                מייבאים ומפתחים מוצרים לשוק הישראלי
            </h1>
            @*<button class="ContactButton" onclick="window.location.href='/Login/LoginPage'">Continue</button>*@
        </div>
        <div class="slider-item" style="background-image: url('../../Images/FormBackGroundImage.jpg')">
            <h1 class="SliderTextLastImg1">
                !אמינות ושירות ברמה הגבוהה ביותר
            </h1>
            <h1 class="SliderTextLastImg2">
                השאר את פרטייך ונחזור אליך בהקדם
            </h1>
            <div class="slide5Form">
                @using (Html.BeginForm())
                {
                    <button class="but" type="submit">שלח</button>
                    @Html.TextBoxFor(m => m.PotionalCustomerPhone, new { placeholder = "טלפון", @class = "input", data_mask = "000-00-00-000" })
                    @Html.TextBoxFor(m => m.PotionalCustomerName, new { placeholder = "שם", @class = "input" })
                }
            </div>
        </div>
        <div class="slider-panel">
            <div class="slider-panel__navigation">
                <i class="fas fa-circle indicator active" data-slide-to="0"></i>
                <i class="far fa-circle indicator" data-slide-to="1"></i>
                <i class="far fa-circle indicator" data-slide-to="2"></i>
                <i class="far fa-circle indicator" data-slide-to="3"></i>
                <i class="far fa-circle indicator" data-slide-to="4"></i>
            </div>
            <div class="slider-panel__controls">
                <i class="far fa-arrow-alt-circle-left" id="previous"></i>
                <i class="far fa-pause-circle" id="pause-play"></i>
                <i class="far fa-arrow-alt-circle-right" id="next"></i>
            </div>
        </div>
    </div>


</div>
<script src="~/Scripts/main.js"></script>
@{
    var data = ViewBag.Message;
}
<div class="div">
    <main class="main">
        <div class="PopularProductsLine">
            <h3 class="h3">
                :המוצרים הפופולריים ביותר בחנות
            </h3>
        </div>
        <div class="PopularProducts">
            <div class="Box">
                <div class="ProductPrice">
                    ₪@Model.Products.First().ProductPrice
                </div>
                <br />
                <span class="ProductName">
                    @Model.Products.First().ProductName
                </span>
                <br />
                <span class="ImageCoat">
                    <img class="ProductImg" src="~/Images/@Model.Products.First().ProductImage" />
                </span>
                <span class="addToShoppingCart">
                    <span><i class="fas fa-shopping-bag"></i></span>
                    @Html.ActionLink("הוספה לסל", "Index", "Home", new { productId = Model.Products.First().ProductID }, new { @class = "ShoppingBut" })
                </span>
            </div>
            <span class="vertical_dotted_line"></span>
            <div class="Box">
                <span class="ProductPrice">
                    ₪@Model.Products[1].ProductPrice
                </span>
                <br />
                <span class="ProductName">
                    @Model.Products[1].ProductName
                </span>
                <br />
                <span>
                    <img class="ProductImg1" src="~/Images/@Model.Products[1].ProductImage" />
                </span>
                <span class="addToShoppingCart">
                    <i class="fas fa-shopping-bag"></i>@Html.ActionLink("הוספה לסל", "Index", "Home", new { productId = Model.Products[1].ProductID }, new { @class = "ShoppingBut" })

                </span>
            </div>
            <span class="vertical_dotted_line"></span>
            <div class="Box">
                <span class="ProductPrice">
                    ₪@Model.Products[2].ProductPrice
                </span>
                <br />
                <span class="ProductName">
                    @Model.Products[2].ProductName
                </span>
                <br />
                <span>
                    <img class="ProductImg1" src="~/Images/@Model.Products[2].ProductImage" />
                </span>
                <span class="addToShoppingCart">
                    <span><i class="fas fa-shopping-bag"></i></span>
                    @Html.ActionLink("הוספה לסל", "Index", "Home", new { productId = Model.Products[2].ProductID }, new { @class = "ShoppingBut" })
                </span>
            </div>
        </div>
        <div class="line">
            <img src="~/Images/small_top_logo.png" />
        </div>
        <div class="NavigationCatagories">
            <span class="ProfessionalCloting">
                <a href="/ProductsPage/ProductsPage/?id=1"><img class="catagories" src="~/Images/ProffesionalClothing.jpg" /></a>
            </span>
            <span class="SafteyProducts">
                <a href="/ProductsPage/ProductsPage/?id=2"><img class="catagories" src="~/Images/CatagoriesNavigitionSafteyProducts.jpg" /></a>
            </span>
            <span class="Gears&acc">
                <a href="/ProductsPage/ProductsPage/?id=3"><img class="catagories" src="~/Images/Gears_Acc.jpg" /></a>
            </span>
            <span class="SafteyWorking">
                <a href="/ProductsPage/ProductsPage/?id=4"><img class="catagories" src="~/Images/SafteyWorking.jpg" /></a>
            </span>
        </div>
        <div class="formDetails">
            <h2 class="h1">
                הידעת? באפשרותך לקבל את מוצרי עמיאם
                <br />
                עם הדפסה מותאמת אישית לפי צרכיך
            </h2>
            <div class="PotinoalCustomersForm">
                @using (Html.BeginForm())
                {
                    <button class="CustomersBut" type="submit">שלח</button>
                    @Html.TextBoxFor(m => m.PotionalCustomerPhone, new { placeholder = "טלפון", @class = "input", data_mask = "000-00-00-000" })
                    @Html.TextBoxFor(m => m.PotionalCustomerCompany, new { placeholder = "חברה", @class = "input" })
                    @Html.TextBoxFor(m => m.PotionalCustomerName, new { placeholder = "שם", @class = "input" })
                }
            </div>
        </div>
    </main>
        </div>
<div class="lineMaster">
    <img class="imageLogoWhite" src="~/Images/footer-logoWhite.png" />
</div>


<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>