@model AmiamStore.Models.CartViewModel
@{
    ViewBag.Title = "CartView";
    Layout = "~/Views/Share/MasterPage.cshtml";
}

<link href="~/Styles/ShoppingCartStyle.css" rel="stylesheet" />

<table border="1" class="ShoppingCartBox">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
    </tr>
    @foreach (var cart in Model.Products)
    {
        <tr>
            <td>@cart.product.ProductName</td>
            <td>@cart.product.ProductPrice</td>
            <td>@cart.Quantity</td>
            <td>@(String.Format("{0:N0}", cart.product.ProductPrice * cart.Quantity))</td>
            <td>
                @Html.ActionLink("מחק" , "Delete" , "ShoppingCart" , new { id = cart.product.ProductID } ,
               new { onclick = "return confirm ('אתה בטוח שאתה רוצה למחוק את המוצר?')" })
            </td>
        </tr>
    }
    <tr>
        <td class="td" colspan="3">סה"כ:</td>
        <td>
            @{
            }

            @Model.Total
        </td>
    </tr>
</table>
<div>
    @using (Html.BeginForm("CartView", "ShoppingCart", FormMethod.Post, new { @class = "payment-form" }))
    {
        <div class="div1">
            @Html.Label("מספר כרטיס אשראי", new { @class = "label" })
            @Html.TextBoxFor(m => m.CreditCardNumber, new { @class = "in1" })
            @Html.ValidationMessageFor(m => m.CreditCardNumber)
            <br />
        </div>
        <div class="div1">
            @Html.Label("שלושת הספרות בגב הכרטיס", new { @class = "label" })
            @Html.TextBoxFor(m => m.Cvv, new { @class = "in1" })
            @Html.ValidationMessageFor(m => m.Cvv)
            <br />
        </div>
        <div class="div1">
            @Html.Label("מספר תעודת זהות", new { @class = "label" })
            @Html.TextBoxFor(m => m.IdNumber, new { @class = "in1" })
            @Html.ValidationMessageFor(m => m.IdNumber)
            <br />
        </div>
        <input class="Submit" type="submit" name="" value="שלח" />
    }
</div>
<div class="lineMaster">
    <img class="imageLogo" src="~/Images/footer-logoWhite.png" />
</div>

