@using AmiamStore.Models;
@{
    ViewBag.Title = "CartView";
    Layout = "~/Views/Share/MasterPage.cshtml";
}
<link href="~/Styles/ShoppingCartStyle.css" rel="stylesheet" />

<table border="1" class="ShoppingCartBox">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
    </tr>
    @foreach (var cart in (List<CartModel>)Session["Cart"])
    {
        <tr>
            <td>@cart.product.ProductName</td>
            <td>@cart.product.ProductPrice</td>
            <td>@cart.Quantity</td>
            <td>@(String.Format("{0:N0}", cart.product.ProductPrice * cart.Quantity))</td>
            <td>
                @Html.ActionLink("מחק" , "Delete" , "ShoppingCart" , new { id = cart.product.ProductID } ,
               new { onclick = "return confirm ('אתה בטוח שאתה רוצה למחוק את המוצר?')" })
            </td>
        </tr>
    }
    <tr>
        <td class="td" colspan="3">סה"כ:</td>
        <td>
            @{
                List<CartModel> temp = (List<CartModel>)Session["Cart"];
                var total = String.Format("{0:N0}", temp.Sum(x => x.Quantity * x.product.ProductPrice));
            }

            @total  Shekel
        </td>
    </tr>
</table>
<div class="lineMaster">
    <img class="imageLogo" src="~/Images/footer-logoWhite.png" />
</div>

