@model AmiamStore.Models.CartViewModel
@{
    ViewBag.Title = "CartView";
    Layout = "~/Views/Share/MasterPage.cshtml";
}
<script src="~/Scripts/DataBaseTable.js"></script>
<link href="~/Styles/ShoppingCartStyle.css" rel="stylesheet" />
@{ var currentUser = Html.GetCurrentUser(); }
@{
    var data = ViewBag.Message;
}
@if (currentUser == null)
{
    <div class="Box">
        <div class="Login">
            <h1>משתמש רשום? אנא התחבר לחשבונך.</h1>
            <input class="ButLogin" type="button" value="לחץ למעבר להתחברות" onclick="location.href='@Url.Action("LoginPage", "Login")'" />
        </div>
        <div class="Register">
            <h1>חדש אצלנו באתר? צור חשבון חדש</h1>
            <input class="ButRegister" type="button" value="לחץ למעבר להרשמה " onclick="location.href='@Url.Action("Register", "Register")'" />
        </div>
    </div>
}
else
{
    <form action="" method="post" name="f">
        <table id="attendees" class="attendees" border="1">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
            </tr>
            @foreach (var cart in Model.Products)
            {
                <tr>
                    <td>@cart.product.ProductName</td>
                    <td>@cart.product.ProductPrice</td>
                    <td>@cart.Quantity</td>
                    <td>@(String.Format("{0:N0}", cart.product.ProductPrice * cart.Quantity))</td>
                    <td>
                        @Html.ActionLink("מחק" , "Delete" , "ShoppingCart" , new { id = cart.product.ProductID , @class = "Delete"} ,
                       new { onclick = "return confirm ('אתה בטוח שאתה רוצה למחוק את המוצר?')" })
                    </td>
                </tr>
            }
            <tr>
                <td class="td" colspan="3">סה"כ:</td>
                <td>
                    @{
                    }

                    @Model.OrderAmount
                </td>
            </tr>
        </table>

    </form>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="PaypalBut">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="M84K2CLP62BVC">
            <input type="image" src="https://www.paypalobjects.com/he_IL/IL/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - הדרך הקלה והבטוחה יותר לשלם באינטרנט!">
            <img alt="" border="0" src="https://www.paypalobjects.com/he_IL/i/scr/pixel.gif" width="1" height="1">
        </form>

    }
<div class="lineMaster">
    <img class="imageLogo" src="~/Images/footer-logoWhite.png" />
</div>

